@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth !important;
}

:root
{
    --final-width:100vh;
    --title-color:#4A235A;
    --text-color:#8E44AD;
    --body-color:#1a237e;
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
    
    --z-index:10;
    --z-tooltip:100;
    --z-modal:1000;
}

body {
  /* background: rgba(0, 0, 51 , 0.39); */
  background: #040524;
  padding: 15px;
  /* scroll-behavior: smooth; */
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
 
  ::-webkit-scrollbar-thumb {
    background: #D5D8DC; 
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1A237E; 
  }
.common-div
{
display: flex;
justify-content:space-around;
align-items: left;
flex-direction: column;
flex-wrap: wrap; 
transition: all 0.2 linear;
color:#fff;
}
.flex-row
{
    flex-direction: row;
}
/* .education
{
    
    align-items: center;
} */
.common-box,.flex-change
{
display: flex;
justify-content:center;
align-items: center;
}
.text-center
{
    text-align: center;
}
.font-weight-bold,.company-hightlight
{
    font-weight: bold;
    text-decoration: none;
}
.company-hightlight
{
    color:#fff;
}

.home {
  min-height: var(--final-width);
  border-radius: 20px;
  margin-top:30px ;
  
   
    
}
.heading-text
{
    border: 1px dotted #fff;
    padding: 8px 5px;
    border-radius: 20px 2% 20px 2%;
    box-shadow: 4px 4px #D6EAF8;
    color:#fff;
}
.glassy,.glassybox
{
background: rgba(209, 209, 230, 0.2);
box-shadow: 0 8px 32px 0 rgba(32, 46, 59, 0.849);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.527);
}
.glassybox
{
    background: rgba(66, 66, 146, 0.8);
    
    z-index: 1;
    overflow: hidden;
}

.glassybox::after
{
    content: '';
    position: absolute;
    top:0;
    right:0;
    width: 50%;
    height: 50%;
    clip-path: circle(50% at top right);
    background: #ce1471;
    z-index: -1;
    /* background: rgba( 233, 30, 99, 0.25 ) !important; */
}

header
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
    box-sizing: border-box;
    background: rgba(48, 63, 159,0.1) !important;
}
.title
{
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color:#fff;
    float: left;
    height:60px;
    line-height: 60px;
    
}

.home-title
{
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    color: transparent !important;;
    -webkit-text-stroke: 1px #fff;
    background: url('../img/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100%
    {
        background-position: 2000px 0;
    }
}

.logo
{
    margin:0px 5px;
    background:#1a237e;
    padding:2px 5px;
    border-radius: 50%;
    color:#fff;
    border: 1px solid #fff;
    
}
 nav
{
    float: right;
    transition: 0.5s;
}
nav ul
{
    padding: 0;
    margin: 0;
    display: flex;
    transition: .5s;
}
.clearfix
{
    clear: both;
}
  nav ul .nav-item
 {
     list-style: none;
 }
  nav ul .nav-item .nav-link
 {   
     color:#fff;
     display: block;
     margin: 10px 2px;
     padding:10px 10px;
     text-decoration: none;
     transition:0.5s;
 }
 
 nav ul .nav-item .nav-link .uil
 {
     margin:0px 2px;
 }
 nav ul .nav-item .nav-link.not-active{
    border-bottom: 1px solid none;
    border-radius: 50px;
    box-shadow: 0px 2px 20px none;
    transition: width 0.5s linear;
 }
 nav ul .nav-item .nav-link.active,
 nav ul .nav-item .nav-link:hover
 {
/* background:#1a237e; */
border-bottom: 2px solid #1a237e;
border-width: 50%;
border-radius: 10px;
box-shadow: 0px 2px 20px #1a237e;
transition:  0.5s ;
 }

 
 /*Navigation part ends*/

/*HOME part starts*/
main
{
display: flex;
justify-content: space-around;
align-items: center;
padding: 50px; 
/* background-image: linear-gradient(to right top,rgba(0, 0, 51 ,0.8) ,rgb(0, 0, 51,1.2)),url("/img/4884273.jpg") !important;
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover; */

}
.home-social
{
    padding: none !important;
    justify-content: center !important;
    flex-direction: row !important;
}
.home-social-icons
{
position: relative;
background: #1a237e;
width:50px;
height: auto;
text-align: center;
margin: 15px 15px;
padding: 5px 5px;
border-radius: 50px;
transition: 0.1s  ease-in-out;
}

.home-social-icons:hover
{
    /* background: linear-gradient(to right,#1e1e1e 50%,red 50%); */
    transform:scale(1.2);
    box-shadow: 0px 4px 20px #1a237e;
}
.home-social-icons .uil
{
    font-size: 25px;
    color:#fff;
    
}
img
{
    width:300px;
    clip-path: circle();
    margin:15px;

}
/* .rightside img
{
   margin: 0px 0px 0px 20px !important;
   
} */

main .leftside .home-subtitle
{
    margin-bottom: var(--mb-1) 0px;
}
main .leftside .home-description
{
    margin:  15px 0px;
    font-weight:400;
}
.leftside .button ,.contact-box .button,.visit-btn
{
    text-decoration: none;
    margin: 20px 0px ;
    width: fit-content;
    color: #1a237e;
    font-weight: 900;
    padding: 10px 10px;
    border-radius: 50px;
    background: #fff;
}
.leftside .button .uil
{
    margin:0px 3px;
}
/*HOME part ends*/

.maindiv,.about,.education,.experience,.projects,.skills,.contact
{
    width: 100%;
    min-height: 80vh !important;
    padding:10px;
    background-image: linear-gradient(to right top,rgba(23, 32, 42 , 0.5) ,rgba(0, 0, 2, 0.932)),url("../img/4884273.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    
}

.maindiv
{
    background-image: linear-gradient(to right ,rgba(3, 21, 41, 0.274)20% ,rgba(0, 0, 2, 0.932)80%),url("../img/4884273.jpg") ;
}
.text-slider-items {
    display: none;
}
/*Education part starts*/
.education.glassybox::before,.education.glassybox::after,.about.glassybox::before,.about.glassybox::after,
.experience.glassybox::before,.experience.glassybox::after
{
    display: none !important;
}
.educationbox ul li
{
    list-style: none;
    border: 1px solid #89dada54;
    border-radius: 15px 15px 15px 0px;
    box-shadow: 4px 4px #bac3c3;
   
    margin: 20px 40px 0px 0px;
    padding: 15px 10px;
}
/*Education part ends*/
/*Experience part starts*/

.imagewithname
{
    display: flex;
}
.child img
{
    display: block;
    margin: 20px auto;
    width:200px;
    border-radius: none !important;
    

}

.child .list-box
{
    margin:15px auto !important;
   
    justify-content: left !important;
    flex-direction: column !important;
   
   
   
}

/* ul.list-box
{
    border: 1px solid #fff;
    margin: 0px 10;
} */
/* .child .list-box li
{
    
    text-align: left;
    
} */
.logoimg
{
    width:100px !important;
}
.company-name 
{
    text-decoration: none;
    color:#85C1E9;
    margin:4px 0px 0px 2px;
} 
 .card
{
    
    flex-direction: column;
    overflow: hidden;    
} 
.contact.common-div
{
    /* justify-content: center; */
    align-items: center;
}
.contact-box
{
    width: fit-content;
    padding: 20px 0;
    margin: 10px 0;
    background-image: linear-gradient(rgb(153, 139, 230) );
    flex-direction: column;
    border:1px solid rgba(255, 255, 255, 0.527);
    border-radius: 15px 0px 15px 15px;
   
} 

.nameis,.loc
{
    color:#fafaff;
    font-weight: bold;
}
.nameis
{
    margin: 15px 0px;
}

.card a
{
    text-decoration: none;
    margin:4px 0px 0px 2px;
    text-align: center ;
}

/* .card:before
{
    content: "";
    position:sticky;
    
    opacity: 0.55;
    bottom: -16px;
    right: -16px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
    background: #000033;
    cursor: pointer;
    
}
.card:hover:before {
    transform: scale(15);
  } */


/*Experience part ends*/ 
.container {
    display: flex;
    justify-content: center;
    height: 220px;
  }
  .language-box
  {
      display: flex;
      justify-content: center;
  }
  .cardItem {
    height:120px;
    width: 120px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: all 500ms ease-in-out;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardItem:hover {
    box-shadow: 4px 5px #ce1471;
    cursor: pointer;
    
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .cardItem .uil 
  {
      font-size: 40px;
  }
  .cardItem .fas,.cardItem .fab
  {
      font-size: 30px;
  }
  .uil-html5
  {
      color: #B71C1C ;
  }
  .uil-css3-simple
  {
      color:#1A237E ;
  }
  .uil-java-script
  {
      color:#FFA000 ;
  }
  .cardItem span
  {
      color:#1A237E;
      font-weight: bold;
      
  }
  .text-is
  {
      padding: 10px;
      border-bottom: 1px dotted #fff;
      border-radius: 50px;
      margin-bottom: 10px;
  }
  .fa-react
  {
      color:#03A9F4;
  }
  .fa-python
  {
      color:#FFA000;
  }
  .fa-java
  {
      color:#D32F2F;
  }
  .sql
  {
      color:#616ce9;
  }
  .mongodb
  {
      color:#239B56;
  }
 /* @media (max-width:1200px)
 {
     header
     {
         margin: 20px;
     }
 } */
/*Projects section code starts*/
.parents{ 
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    transition: all 0.2 linear;
}
.child{
    width: fit-content;
    height: auto;
    padding:20px 0px;
    border-radius: 20px;
    /* background:rgba(142, 36, 170, 0.3); */
    box-shadow: 4px 4px #bac3c3;
    border:1px solid #89dada54;
    border-top: 2px dashed #89dada54;
    flex:1 1 200px;
    margin: 20px; 
    
}


.child .info
{
    margin: 15px 0px;
}
.child .visit-btn
{
    padding: 10px 20px;
}
/*Projects section ends*/
.popup
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #D6EAF8;
    background-image: linear-gradient(#D6EAF8 85% ,#00CCFF  15%);
    width:fit-content;
    height: 400px;
    border-radius: 15px;
    padding: 20px 20px;
    visibility: hidden;
    flex-direction: column;
}
.hii
{
    font-weight: bold;
    color:#E91E63;
    font-size:20px;
}
.hii .uil-grin
{
    font-size:25px;
}
.welcome
{
    /* margin: 15px 0px; */
    color: #000033;
    padding: 0px 5px;
    border-left: 1px solid #000033;
    border-right: 1px solid #000033;
}

.popup .close
{
    position: absolute;
    top:20px;
    right:10px;
    padding:5px 10px;
    background:#00CCFF;
    border-radius: 25%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.popup p
{
    position: absolute;
    color: #000033;
    bottom: 0px;
    font-weight: bold;
}
.uil-smile
{
    font-size: 25px;
}
.popup.activepopup
{
    visibility: visible;
}
.close.activepopup
{
    visibility: visible;
}

.popup img
{
    width: 80px;
    display: block;
    margin: 5px auto;
} 

.todolist ul li {
   list-style: none;
    
}
/*footer part starts*/
#footer {
    font-family: 'Quicksand', sans-serif !important;
    margin:25px 0px;
    padding: 10px 10px 10px 10px;
    background: #03033600;
    border:1px solid #bac3c394;
    bottom: 0;
    width: 100%;
    color:#fff;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    /* background: grey; */
}
.uil-heart-alt
{
   color:#B71C1C;
   font-size: 25px;
}
/*footer part ends*/
 @media (max-width:970px)
 {
    .img-response::after{
        width: 300px;
        height: 250px;
    }
    .menu-toggler
 {

    display: block;
    width:40px;
    height: 40px;
    margin: 10px;
    background:#1a237e ;
    
    float:right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    color:#fff;
 } 
 .menu-toggler::before
 {
     content: '\f0c9';
     font-family: fontAwesome;
     line-height: 40px;
 }
 .menu-toggler.active::before
 {
     content: '\f00d';
     
 }
 nav 
 {
     display: none;
 }
nav.active
{
    display: block;
    width: 100%;
    
}
nav.active ul
     {
         display:flex;
         justify-content: center;
         align-items: center;
         flex-direction:column ;
         text-align: center;
     }
     nav.active ul li
     {
         width: fit-content;
         
     }
     nav ul .nav-item .nav-link:before
 {
     content:'';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 5em;
     font-weight: bold;
     color: rgba(70, 15, 223, 0.87);
     border-radius: 50%;
     z-index: -1;
     opacity: 0;
     letter-spacing: 500px;
     transition: letter-spacing 0.5s;
 }
 nav ul .nav-item .nav-link:hover:before
 {
     content: attr(data-text);
     opacity: 1;
     letter-spacing: 10px;
 }
     .home-social
     {
         flex-direction: row;
     }
     main,.aboutbox
     {
         flex-direction: column;
     } 
     
     .rightside img
{
   margin: 20px 0px !important;
}
.educationbox ul li
{
    margin: 10px !important;
}

     /* .img-response
     {
         max-width:220px;
         height: 200px;
     } */
.flex-row
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.cardItem
{
    width:80px;
    height:80px;
    flex-direction: column;
    margin:5px;
}
.cardItem .uil
{
    font-size:25px;
}
.parents
{
    
    justify-content: center !important;
    align-items: center;
}
.parents .child
{
    margin:10px !important;
}
 } 
 @media (max-width:768px)
 {
    ::-webkit-scrollbar {
        width: 4px;
      }
    .grand_parent{height:auto; }
   
 }
 @media (max-width:540px)
 {
    ::-webkit-scrollbar {
        width: 4px;
      }
     main
     {
         padding:20px 10px;
     }
     body
     {
         padding:5px;
     }
     nav ul .nav-item .nav-link:before
     {
         font-size: 2.2em;
     }
.flex-change
{
    flex-direction: column !important;
}
img
{
    width:200px;
}
 }
 
